@font-face {
	font-family: "???? Pro";
	src: url("/fonts/Yryr%20minc%20R.ttf");
}

@font-face {
	font-family: "123 and...";
	src: url("/fonts/123-and...-Regular.ttf");
}

@font-face {
	font-family: "123and";
	src: url("/fonts/123-and...-Regular.ttf");
}

@font-face {
	font-family: "AmbersHand-Plain";
	src: url("/fonts/LEHN011.TTF");
}

@font-face {
	font-family: "Amienne";
	src: url("/fonts/Amienne.ttf");
}

@font-face {
	font-family: "A-OTF Futo Min A101 Pro";
	src: url("/fonts/A-OTF-FutoMinA101Pro-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "A-OTF Futo Min A101 Pro Bold";
	src: url("/fonts/A-OTF-FutoMinA101Pro-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Arial";
	src: url("/fonts/arial.ttf");
}

@font-face {
	font-family: "ArialMT";
	src: url("/fonts/arial.ttf");
}

@font-face {
	font-family: "ArtificeSSK";
	src: url("/fonts/ArtificeSSK.ttf");
}

@font-face {
	font-family: "Baar Sophia";
	src: url("/fonts/BAARS.TTF");
}

@font-face {
	font-family: "BaarSophia";
	src: url("/fonts/BAARS.TTF");
}

@font-face {
	font-family: "Babylon 27";
	src: url("/fonts/Babylon-27-Babylon-27.ttf");
}

@font-face {
	font-family: "Balzano";
	src: url("/fonts/BALZANO.ttf");
}

@font-face {
	font-family: "Bee Marker Ink";
	src: url("/fonts/BeeMarkerInk.TTF");
}

@font-face {
	font-family: "BeeMarkerInk";
	src: url("/fonts/BeeMarkerInk.TTF");
}

@font-face {
	font-family: "Berlin Sans FB Demi";
	src: url("/fonts/BRLNSDB.TTF"), url("/fonts/BRLNSDB_0.TTF");
	font-weight: bold;
}

@font-face {
	font-family: "BerlinSansFBDemi-Bold";
	src: url("/fonts/BRLNSDB.TTF"), url("/fonts/BRLNSDB_0.TTF");
	font-weight: bold;
}

@font-face {
	font-family: "BlueBrush";
	src: url("/fonts/BlueBrush.otf");
}

@font-face {
	font-family: "Brianne's hand";
	src: url("/fonts/Brianne_s_hand.ttf");
}

@font-face {
	font-family: "Brianne'shand";
	src: url("/fonts/Brianne_s_hand.ttf");
}

@font-face {
	font-family: "bylon 27";
	src: url("/fonts/Babylon-27-Babylon-27.ttf");
}

@font-face {
	font-family: "CAC Moose";
	src: url("/fonts/CAC%20Moose.ttf");
}

@font-face {
	font-family: "CACMoose";
	src: url("/fonts/CAC%20Moose.ttf");
}

@font-face {
	font-family: "CenturyOldStyle-Light";
	src: url("/fonts/CENTURYO.TTF"), url("/fonts/CenturyOldStyle-Light.ttf");
}

@font-face {
	font-family: "CenturyOldStyle-Light";
	src: url("/fonts/CenturyOldStyle-Light%20Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "CenturyOldStyle-Light-Bold";
	src: url("/fonts/CenturyOldStyle-Light%20Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Charme";
	src: url("/fonts/CHARME.TTF");
}

@font-face {
	font-family: "Chinacat";
	src: url("/fonts/chinrg.ttf");
}

@font-face {
	font-family: "Complete in Him";
	src: url("/fonts/Complete%20in%20Him.ttf");
}

@font-face {
	font-family: "CompleteinHim";
	src: url("/fonts/Complete%20in%20Him.ttf");
}

@font-face {
	font-family: "Consolas";
	src: url("/fonts/consola.ttf");
}

@font-face {
	font-family: "Consolas";
	src: url("/fonts/consolab.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Consolas-Bold";
	src: url("/fonts/consolab.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Continuum Bold";
	src: url("/fonts/contb.ttf");
}

@font-face {
	font-family: "ContinuumBold";
	src: url("/fonts/contb.ttf");
}

@font-face {
	font-family: "Designosaur";
	src: url("/fonts/Designosaur-Regular.ttf");
}

@font-face {
	font-family: "Designosaur";
	src: url("/fonts/Designosaur-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Designosaur-Italic";
	src: url("/fonts/Designosaur-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Dutch766 BT";
	src: url("/fonts/Du766Bd.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Dutch766BT-BoldA";
	src: url("/fonts/Du766Bd.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "EFN Impresja";
	src: url("/fonts/impresja.ttf");
}

@font-face {
	font-family: "EFNImpresja";
	src: url("/fonts/impresja.ttf");
}

@font-face {
	font-family: "Elephant";
	src: url("/fonts/ELEPHNT.TTF");
}

@font-face {
	font-family: "Elephant-Regular";
	src: url("/fonts/ELEPHNT.TTF");
}

@font-face {
	font-family: "EmilysHand-Plain";
	src: url("/fonts/LEHN084.TTF");
}

@font-face {
	font-family: "EngraversGothic BT";
	src: url("/fonts/Engrvgot.TTF");
}

@font-face {
	font-family: "EngraversGothicBT-Regular";
	src: url("/fonts/Engrvgot.TTF");
}

@font-face {
	font-family: "Essai";
	src: url("/fonts/Essai.ttf");
}

@font-face {
	font-family: "Estrangelo Edessa";
	src: url("/fonts/estre.ttf");
}

@font-face {
	font-family: "EstrangeloEdessa";
	src: url("/fonts/estre.ttf");
}

@font-face {
	font-family: "Euphemia";
	src: url("/fonts/Euphemia_0.ttf");
}

@font-face {
	font-family: "EuphemiaCAS";
	src: url("/fonts/Euphemia_0.ttf");
}

@font-face {
	font-family: "FarrahsHand-Plain";
	src: url("/fonts/LEHN095.TTF");
}

@font-face {
	font-family: "Fontin Sans";
	src: url("/fonts/FONTIN_SANS.OTF");
	font-weight: bold;
}

@font-face {
	font-family: "Fontin Sans";
	src: url("/fonts/FONTIN_SANS_BI.OTF");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Fontin Sans Rg";
	src: url("/fonts/FONTIN_SANS.OTF");
	font-weight: bold;
}

@font-face {
	font-family: "Fontin Sans Rg";
	src: url("/fonts/FONTIN_SANS_BI.OTF");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "FontinSans-Bold";
	src: url("/fonts/FONTIN_SANS.OTF");
	font-weight: bold;
}

@font-face {
	font-family: "FontinSans-BoldItalic";
	src: url("/fonts/FONTIN_SANS_BI.OTF");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Forte";
	src: url("/fonts/FORTE.TTF");
}

@font-face {
	font-family: "ForteMT";
	src: url("/fonts/FORTE.TTF");
}

@font-face {
	font-family: "Franchise";
	src: url("/fonts/Franchise-Bold-hinted.ttf");
}

@font-face {
	font-family: "Franchise-Bold";
	src: url("/fonts/Franchise-Bold-hinted.ttf");
}

@font-face {
	font-family: "FutoMinA101Pro-Bold";
	src: url("/fonts/A-OTF-FutoMinA101Pro-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Gandhi Sans";
	src: url("/fonts/GandhiSans-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Gandhi Sans";
	src: url("/fonts/GandhiSans-BoldItalic.otf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "GandhiSans-Bold";
	src: url("/fonts/GandhiSans-Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "GandhiSans-BoldItalic";
	src: url("/fonts/GandhiSans-BoldItalic.otf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "HandelGotDBol";
	src: url("/fonts/HANDGOTB.TTF");
}

@font-face {
	font-family: "HandelGotD-Bold";
	src: url("/fonts/HANDGOTB.TTF");
}

@font-face {
	font-family: "HandelGothic BT";
	src: url("/fonts/HANDGOTN.TTF");
}

@font-face {
	font-family: "HandelGothicBT-Regular";
	src: url("/fonts/HANDGOTN.TTF");
}

@font-face {
	font-family: "HandVetica";
	src: url("/fonts/HandVetica.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "HandVetica-Bold";
	src: url("/fonts/HandVetica.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "HiraginoGyoDS-W4";
	src: url("/fonts/HiraginoGyoDS-W4.ttf");
}

@font-face {
	font-family: "HZHandwrite";
	src: url("/fonts/HZHandwrite.ttf");
}

@font-face {
	font-family: "Impressum Std";
	src: url("/fonts/ImpressumStd-Roman.otf");
}

@font-face {
	font-family: "ImpressumStd-Roman";
	src: url("/fonts/ImpressumStd-Roman.otf");
}

@font-face {
	font-family: "ITC Avant Garde Gothic Std";
	src: url("/fonts/ITCAvantGardeStd-Md.otf");
}

@font-face {
	font-family: "ITC Avant Garde Std Md";
	src: url("/fonts/ITCAvantGardeStd-Md.otf");
}

@font-face {
	font-family: "ITCAvantGardeStd-Md";
	src: url("/fonts/ITCAvantGardeStd-Md.otf");
}

@font-face {
	font-family: "IwaMinPro-Madoka-Lt";
	src: url("/fonts/IwaMinPro-Lt-Madoka.ttf");
}

@font-face {
	font-family: "IwaOMinPro-Fate-Bd";
	src: url("/fonts/IwaOMinPro-Bd-Fate.ttf");
}

@font-face {
	font-family: "Iwata Mincho Old Pro-Fate";
	src: url("/fonts/IwaOMinPro-Bd-Fate.ttf");
}

@font-face {
	font-family: "Iwata Mincho Old Pro-Fate B";
	src: url("/fonts/IwaOMinPro-Bd-Fate.ttf");
}

@font-face {
	font-family: "Iwata Mincho Pro-Madoka";
	src: url("/fonts/IwaMinPro-Lt-Madoka.ttf");
}

@font-face {
	font-family: "Iwata Mincho Pro-Madoka L";
	src: url("/fonts/IwaMinPro-Lt-Madoka.ttf");
}

@font-face {
	font-family: "JanieHmkBold";
	src: url("/fonts/JANIHB.TTF");
}

@font-face {
	font-family: "Kabel LT Std";
	src: url("/fonts/KabelLTStd-Book.otf");
}

@font-face {
	font-family: "Kabel LT Std Book";
	src: url("/fonts/KabelLTStd-Book.otf");
}

@font-face {
	font-family: "KabelLTStd-Book";
	src: url("/fonts/KabelLTStd-Book.otf");
}

@font-face {
	font-family: "KozGoPro-Heavy-Madoka";
	src: url("/fonts/KozGoProH-Madoka.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Kozuka Gothic Pro";
	src: url("/fonts/KozGoProH-Madoka.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "KozukaGothicProH-Madoka";
	src: url("/fonts/KozGoProH-Madoka.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "LEHN011";
	src: url("/fonts/LEHN011.TTF");
}

@font-face {
	font-family: "LEHN084";
	src: url("/fonts/LEHN084.TTF");
}

@font-face {
	font-family: "LEHN095";
	src: url("/fonts/LEHN095.TTF");
}

@font-face {
	font-family: "LHF Scriptana";
	src: url("/fonts/LHF_Scriptana.ttf");
}

@font-face {
	font-family: "LHFScriptana-Regular";
	src: url("/fonts/LHF_Scriptana.ttf");
}

@font-face {
	font-family: "LinotypeFinnegan-Medium";
	src: url("/fonts/LT.ttf"), url("/fonts/LT_3.ttf"), url("/fonts/LT_4.ttf"), url("/fonts/macron%20finnetier%200.3.ttf");
}

@font-face {
	font-family: "LinotypeFinnegan-MediumIt";
	src: url("/fonts/LT_3italic.ttf"), url("/fonts/LT_italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "LLRubberGrotesqueOTF";
	src: url("/fonts/LLRUG.ttf");
}

@font-face {
	font-family: "LTFinnegan Medium";
	src: url("/fonts/LT.ttf"), url("/fonts/LT_3.ttf"), url("/fonts/LT_4.ttf"), url("/fonts/macron%20finnetier%200.3.ttf");
}

@font-face {
	font-family: "LTFinnegan Medium";
	src: url("/fonts/LT_3italic.ttf"), url("/fonts/LT_italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Macron Finnetier Medium";
	src: url("/fonts/macron%20finnetier%200.3.ttf");
}

@font-face {
	font-family: "MacronFinnetier-Medium";
	src: url("/fonts/macron%20finnetier%200.3.ttf");
}

@font-face {
	font-family: "Mentone";
	src: url("/fonts/mentone-semibol.otf");
	font-weight: 600;
}

@font-face {
	font-family: "Mentone Lig";
	src: url("/fonts/mentone-semibol.otf");
	font-weight: 600;
}

@font-face {
	font-family: "Mentone-SemiBold";
	src: url("/fonts/mentone-semibol.otf");
	font-weight: 600;
}

@font-face {
	font-family: "Montara";
	src: url("/fonts/Montara-Gothic.otf");
}

@font-face {
	font-family: "Montara";
	src: url("/fonts/Montara-Italic.otf");
	font-style: italic;
}

@font-face {
	font-family: "Montara  Gothic";
	src: url("/fonts/Montara-Gothic.otf");
}

@font-face {
	font-family: "Montara  Gothic";
	src: url("/fonts/Montara-Italic.otf");
	font-style: italic;
}

@font-face {
	font-family: "Montara-Gothic";
	src: url("/fonts/Montara-Gothic.otf");
}

@font-face {
	font-family: "Montara-Italic";
	src: url("/fonts/Montara-Italic.otf");
	font-style: italic;
}

@font-face {
	font-family: "New";
	src: url("/fonts/OBGB.TTF");
}

@font-face {
	font-family: "NewBaskerville";
	src: url("/fonts/NEWBASK.TTF"), url("/fonts/NewBaskerville.ttf");
}

@font-face {
	font-family: "Old Block";
	src: url("/fonts/OBGB.TTF");
}

@font-face {
	font-family: "Old Block Black";
	src: url("/fonts/OBGB.TTF");
}

@font-face {
	font-family: "Old newspaper font";
	src: url("/fonts/Old_Newspaper_Font.ttf");
}

@font-face {
	font-family: "Oldnewspaperfont";
	src: url("/fonts/Old_Newspaper_Font.ttf");
}

@font-face {
	font-family: "Painfresco";
	src: url("/fonts/Painfresco-Regular.ttf");
}

@font-face {
	font-family: "Painfresco";
	src: url("/fonts/Painfresco-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Painfresco-Italic";
	src: url("/fonts/Painfresco-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Painfresco-Regular";
	src: url("/fonts/Painfresco-Regular.ttf");
}

@font-face {
	font-family: "PaintyPaint";
	src: url("/fonts/PAINP.TTF"), url("/fonts/PAINP_0.TTF");
}

@font-face {
	font-family: "PaintyPaint1";
	src: url("/fonts/PAINP.TTF"), url("/fonts/PAINP_0.TTF");
}

@font-face {
	font-family: "Panefresco800wt-Italic";
	src: url("/fonts/Painfresco-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Panefresco800wtKilllaKill-Regular";
	src: url("/fonts/Painfresco-Regular.ttf");
}

@font-face {
	font-family: "Pencilfied";
	src: url("/fonts/pencilfied.ttf");
}

@font-face {
	font-family: "PencilfiedX";
	src: url("/fonts/pencilfied.ttf");
}

@font-face {
	font-family: "Profile";
	src: url("/fonts/Profile-Medium.otf"), url("/fonts/Profile-Regular.otf");
}

@font-face {
	font-family: "Profile-Medium";
	src: url("/fonts/Profile-Medium.otf");
}

@font-face {
	font-family: "Profile-Regular";
	src: url("/fonts/Profile-Regular.otf");
}

@font-face {
	font-family: "Prototype";
	src: url("/fonts/Prototype.ttf");
}

@font-face {
	font-family: "Reswysokr";
	src: url("/fonts/Reswysokr.otf");
}

@font-face {
	font-family: "Signika";
	src: url("/fonts/Signika-Regular.otf");
}

@font-face {
	font-family: "Signika-Regular";
	src: url("/fonts/Signika-Regular.otf");
}

@font-face {
	font-family: "Spectrum MT Std";
	src: url("/fonts/SpectrumMTStd.otf");
}

@font-face {
	font-family: "SpectrumMTStd";
	src: url("/fonts/SpectrumMTStd.otf");
}

@font-face {
	font-family: "Swis721 Hv BT";
	src: url("/fonts/SWZ721H.TTF");
}

@font-face {
	font-family: "Swis721 Md BT";
	src: url("/fonts/SWZ721M.TTF");
}

@font-face {
	font-family: "Swiss721BT-Heavy";
	src: url("/fonts/SWZ721H.TTF");
}

@font-face {
	font-family: "Swiss721BT-Medium";
	src: url("/fonts/SWZ721M.TTF");
}

@font-face {
	font-family: "Unisketchlightlimited";
	src: url("/fonts/Unisketch-light_limited.ttf");
}

@font-face {
	font-family: "Unisketch-lightlimitedLight";
	src: url("/fonts/Unisketch-light_limited.ttf");
}

@font-face {
	font-family: "Untitled";
	src: url("/fonts/Babylon-27-Babylon-27.ttf");
}

@font-face {
	font-family: "Yryr minc R";
	src: url("/fonts/Yryr%20minc%20R.ttf");
}

@font-face {
	font-family: "YryrmincR";
	src: url("/fonts/Yryr%20minc%20R.ttf");
}

