<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.xhtml" />
			</files>
		</defaultDocument>
		<staticContent>
			<clear />
			<mimeMap fileExtension=".xhtml" mimeType="application/xhtml+xml" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<mimeMap fileExtension=".ass" mimeType="text/plain" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
		</staticContent>
		<httpRedirect enabled="false" />
	</system.webServer>
</configuration>